div {
    width: 500px;
    background-color: yellow;
}

body {
    display: flex;
    justify-content: center;
}

img {
    width: 80%;
    position: relative;
    left: 10%;
}

li {
    font-size: 25px;
    color: red;
}

a:visited {
    color: green;
}